{% extends "inventory_devices/html/base.html" %}
{% load static %}
{% block title %}Устройства{% endblock %}
{% block content %}
<style>
.device-table {
  margin: 5% auto;
  width: 80%;
  border-collapse: collapse;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.device-table th {
  background: #2c3e50;
  color: white;
  padding: 15px;
  text-align: left;
}

.device-table td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
}

.device-table tr:nth-child(even) {
  background: #f8f9fa;
}

.device-table tr:hover {
  background: #e9ecef;
  cursor: pointer;
}

.status-active { color: #28a745; }
.status-repair { color: #ffc107; }
.status-archived { color: #dc3545; }
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);
            z-index: 1000;
        }

        .modal-content {
            text-align:center;
            background: white;
            margin: 15% auto;
            padding: 20px;
            width: 20%;
            max-width: 500px;
            position: relative;
            z-index: 1001;
        }

        .close {
            position: absolute;
            right: 15px;
            top: 10px;
            cursor: pointer;
            font-size: 24px;
        }
.supplier-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-input {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.form-input:focus {
  outline: 2px solid #4CAF50;
  border-color: transparent;
}
.form-group label {
    margin-top: 15px; /* Установите нужное значение отступа */
    display: block; /* Убедитесь, что label занимает всю ширину */
}
.form-actions {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 15px;
}
.submit-btn {
  background: #4CAF50;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-btn {
  background: #dc3545;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.hidden {
    display: none;
.device-card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left;
}

.device-card h3 {
    margin-bottom: 10px;
    color: #333;
}

.device-card p {
    margin: 5px 0;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
}

.close-btn:hover {
    color: red;
}

</style>
<h1 style="color: #333; font-size: 36px; text-align: center;">Устройства</h1>
<a
  type="button"
  style="margin: 0 80%; padding: 10px 20px; background-color: brown; color: white; border: none; border-radius: 4px; cursor: pointer; font-size: 16px;"
  onclick="openModal()" href="{% url 'suppliers' %}">
  Поставщики
</a>
<button
  type="button"
  style="margin: 0 10%; padding: 10px 20px; background-color: #4CAF50; color: white; border: none; border-radius: 4px; cursor: pointer; font-size: 16px;"
  id="openModal">
  Добавить устройство
</button>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 style="margin-bottom: 20px;">Добавить устройство</h2>
        <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="dev_manufact">Производитель:</label>
            <input type="text"
                   id="dev_manufact"
                   name="dev_manufact"
                   required
                   class="form-input">
        </div>
        <div class="form-group">
            <label for="dev_model">Модель:</label>
            <input type="tel"
                   id="dev_model"
                   name="dev_model"
                   required
                   class="form-input">
        </div>
        <div class="form-group">
            <label for="dev_type">Тип:</label>
            <select id="dev_type"
                    name="dev_type"
                    required
                    class="form-input">
                <option value="">-- Выберите тип устройства --</option>
                {% for value, display in device_types %}
                    <option value="{{ value }}">{{ display }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="dev_number">Серийный номер:</label>
            <input type="tel"
                   id="dev_number"
                   name="dev_number"
                   required
                   class="form-input">
        </div>
        <div class="form-group">
            <label for="dev_buydate">Дата покупки:</label>
            <input type="date"
                   id="dev_buydate"
                   name="dev_buydate"
                   required
                   class="form-input">
        </div>
        <div class="form-group">
            <label for="dev_supplier">Поставщик:</label>
            <select id="dev_supplier"
                    name="dev_supplier"
                    required
                    class="form-input">
                <option value="">-- Выберите поставщика --</option>
                {% for supplier in suppliers %}
                    <option value="{{ supplier.id }}">{{ supplier.supp_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="dev_status">Статус:</label>
            <select id="dev_status"
                    name="dev_status"
                    required
                    class="form-input">
                {% for value, display in device_status %}
                    <option value="{{ value }}">{{ display }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-actions">
            <button type="button"
                    class="cancel-btn"
                    onclick="closeModal()">Отмена</button>
            <button type="submit"
                    class="submit-btn">Сохранить</button>
        </div>
        </form>
    </div>

</div>
<div id="editDeviceModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeEditModal()">&times;</span>
        <h2>Редактировать устройство</h2>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="edit_dev_mode" value="1">
            <input type="hidden" id="edit_dev_id" name="edit_dev_id">
            <div class="form-group">
                <label for="edit_dev_manufact">Производитель:</label>
                <input type="text" id="edit_dev_manufact" name="edit_dev_manufact" required class="form-input">
            </div>
            <div class="form-group">
                <label for="edit_dev_model">Модель:</label>
                <input type="text" id="edit_dev_model" name="edit_dev_model" required class="form-input">
            </div>
            <div class="form-group">
            <label for="edit_dev_type">Тип:</label>
            <select id="edit_dev_type"
                    name="dev_type"
                    required
                    class="form-input">
                <option value="">-- Выберите тип устройства --</option>
                {% for value, display in device_types %}
                    <option value="{{ value }}">{{ display }}</option>
                {% endfor %}
            </select>
            </div>
            <div class="form-group">
                <label for="edit_dev_number">Серийный номер:</label>
                <input type="text" id="edit_dev_number" name="edit_dev_number" required class="form-input">
            </div>
            <div class="form-group">
                <label for="edit_dev_buydate">Дата покупки:</label>
                <input type="date" id="edit_dev_buydate" name="edit_dev_buydate" value="{{ device.dev_buydate|date:'Y-m-d' }}" required class="form-input">
            </div>

            <div class="form-group">
                <label for="edit_dev_supplier">Поставщик:</label>
                <select id="edit_dev_supplier"
                    name="edit_dev_supplier"
                    required
                    class="form-input">
                <option value="">-- Выберите поставщика --</option>
                {% for supplier in suppliers %}
                    <option value="{{ supplier.id }}">{{ supplier.supp_name }}</option>
                {% endfor %}
            </select>
            </div>
            <div class="form-group">
                <label for="edit_dev_status">Статус:</label>
                <input type="text" id="edit_dev_status" name="edit_dev_status" required class="form-input">
            </div>
            <div class="form-actions">
                <button type="button" class="cancel-btn" onclick="closeEditModal()">Отмена</button>
                <button type="submit" class="submit-btn">Сохранить</button>
            </div>
        </form>
    </div>
</div>
<div id="deviceCardModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeDeviceCard()">&times;</span>
        <h2>Информация об устройстве</h2>
        <div id="deviceCardContent">
            <!-- Данные устройства будут вставляться через JavaScript -->
        </div>
    </div>
</div>
<table class="device-table">
  <thead>
    <tr>
      <th>Номер устройства</th>
      <th>Производитель</th>
      <th>Модель</th>
      <th>Тип</th>
      <th class="hidden">Серийный номер</th>
      <th>Дата приобритения</th>
      <th>Поставщик</th>
      <th>Статус</th>
    </tr>
  </thead>
  <tbody>
    {% for device in devices %}
    <tr onclick="openDeviceCard({{ device.id }}, '{{ device.dev_manufact }}', '{{ device.dev_model }}', '{{ device.dev_type }}', '{{ device.dev_number }}', '{{ device.dev_buydate|date:"d-m-Y" }}', '{{ device.dev_supplier }}', '{{ device.dev_status }}','{{ device.dev_supplier_id }}')">
        <td>{{ device.id }}</td>
        <td>{{ device.dev_manufact }}</td>
        <td>{{ device.dev_model }}</td>
        <td>{{ device.dev_type }}</td>
        <td class="hidden">{{ device.dev_number }}</td>
        <td>{{ device.dev_buydate|date:"d-m-Y" }}</td>
        <td>{{ device.dev_supplier }}</td>
        <td>{{ device.dev_status }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
<script>
const modal = document.getElementById("myModal");
const btn = document.getElementById("openModal");
const span = document.getElementsByClassName("close")[0];

btn.onclick = function() {
    modal.style.display = "block";
}

span.onclick = function() {
    modal.style.display = "none";
}

window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
  const today = new Date();
    const formattedDate = today.toISOString().split('T')[0];
    document.getElementById('dev_buydate').value = formattedDate;

function openDeviceCard(id, manufact, model, type, serial, buyDate, supplier, status,supplier_id) {

    const modal = document.getElementById("deviceCardModal");
    const content = document.getElementById("deviceCardContent");
    content.innerHTML = `
        <div class="device-card">
            <button class="close-btn" style="position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: #333;" onclick="closeDeviceCard()">×</button>
            <h3>Устройство #${id}</h3>
            <p><strong>Производитель:</strong> ${manufact}</p>
            <p><strong>Модель:</strong> ${model}</p>
            <p><strong>Тип:</strong> ${type}</p>
            <p><strong>Серийный номер:</strong> ${serial}</p>
            <p><strong>Дата покупки:</strong> ${buyDate}</p>
            <p><strong>Поставщик:</strong> ${supplier}</p>
            <p><strong>Статус:</strong> ${status}</p>
            <button onclick="closeDeviceCard();openEditModal(${id}, '${manufact}', '${model}', '${type}', '${serial}', convertDateFormat('${buyDate}'), '${supplier}', '${status}','${supplier_id}')" style="background: #007bff; color: white; padding: 8px 16px; border: none; border-radius: 4px; cursor: pointer; font-size: 14px; transition: background-color 0.3s ease;">
            Редактировать
            </button>
  <button onclick="deleteDevice(${id})" class="cancel-btn">Удалить</button>
        </div>
    `;

    modal.style.display = "block";
}

function closeDeviceCard() {
    document.getElementById("deviceCardModal").style.display = "none";
}

// Закрытие по клику вне карточки
window.onclick = function(event) {
    const modal = document.getElementById("deviceCardModal");
    if (event.target === modal) {
        closeDeviceCard();
    }
};
function openEditModal(id, manufact, model, type, serial, buyDate, supplier, status, supplier_id) {
    console.log(supplier_id);
    document.getElementById('edit_dev_id').value = id;
    document.getElementById('edit_dev_manufact').value = manufact;
    document.getElementById('edit_dev_model').value = model;
    document.getElementById('edit_dev_type').value = type;
    document.getElementById('edit_dev_number').value = serial;
    document.getElementById('edit_dev_buydate').value = buyDate;
    document.getElementById('edit_dev_supplier').value = supplier_id;
    document.getElementById('edit_dev_status').value = status;

    document.getElementById('editDeviceModal').style.display = 'block';
}

function closeEditModal() {
    document.getElementById('editDeviceModal').style.display = 'none';
}
function convertDateFormat(dateStr) {
  // Предполагается, что dateStr в формате "DD-MM-YYYY"
  const parts = dateStr.split('-'); // [DD, MM, YYYY]
  if (parts.length !== 3) return dateStr; // если формат не тот, возвращаем без изменений
  return `${parts[2]}-${parts[1]}-${parts[0]}`; // Возвращаем "YYYY-MM-DD"
}
function deleteDevice(dev_id) {
    console.log(dev_id)
     if (confirm('Удалить этого поставщика?')) {
        const form = document.createElement('form');
        form.method = 'POST';
        form.action = '';

        const csrfInput = document.createElement('input');
        csrfInput.type = 'hidden';
        csrfInput.name = 'csrfmiddlewaretoken';
        csrfInput.value = document.querySelector('[name=csrfmiddlewaretoken]').value;

        const idInput = document.createElement('input');
        idInput.type = 'hidden';
        idInput.name = 'delete_id';
        idInput.value = dev_id;

        form.appendChild(csrfInput);
        form.appendChild(idInput);

        document.body.appendChild(form);
        form.submit();
    }
    }
</script>
{% endblock %}
