{% extends "inventory_devices/html/base.html" %}

{% block content %}
<style>
  .device-table {
  margin: 5% auto;
  width: 80%;
  border-collapse: collapse;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.device-table th {
  background: #2c3e50;
  color: white;
  padding: 15px;
  text-align: left;
}

.device-table td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
}

.device-table tr:nth-child(even) {
  background: #f8f9fa;
}

.device-table tr:hover {
  background: #e9ecef;
  cursor: pointer;
}

.status-active { color: #28a745; }
.status-repair { color: #ffc107; }
.status-archived { color: #dc3545; }
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);
            z-index: 1000;
        }

        .modal-content {
            text-align:center;
            background: white;
            margin: 15% auto;
            padding: 20px;
            width: 20%;
            max-width: 500px;
            position: relative;
            z-index: 1001;
        }

        .close {
            position: absolute;
            right: 15px;
            top: 10px;
            cursor: pointer;
            font-size: 24px;
        }
.supplier-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-input {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.form-input:focus {
  outline: 2px solid #4CAF50;
  border-color: transparent;
}
.form-group label {
    margin-top: 15px; /* Установите нужное значение отступа */
    display: block; /* Убедитесь, что label занимает всю ширину */
}
.form-actions {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 15px;
}
.submit-btn {
  background: #4CAF50;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-btn {
  background: #dc3545;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.device-card{
    word-wrap: break-word; /* Перенос длинных слов */
    overflow-wrap: break-word; /* Альтернативный способ переноса */
    white-space: normal;
}
.device-card p {
    text-align: left;
    padding: 0px;
    background: white;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
}

.close-btn:hover {
    color: red;
}
</style>
<h1 style="color: #333; font-size: 36px; text-align: center;">Мои заявки</h1>
<button
  type="button"
  style="margin: 0 10%; padding: 10px 20px; background-color: #4CAF50; color: white; border: none; border-radius: 4px; cursor: pointer; font-size: 16px;"
  onclick="openModal()">
  Создать заявку
</button>
<div id="modal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>

    <h2 style="margin-bottom: 20px;">Создание заявки</h2>

    <form method="POST" class="departments-form">
      {% csrf_token %}
        {% if user.is_authenticated %}
          <input type="hidden" name="emp_id" value="{{ user.employee.id }}">
        {% endif %}
       <div class="form-group">

            <label for="dev">Устройство (инв. номер):</label>
            <select id="dev"
                    name="dev"
                    required
                    class="form-input">
                <option value="">-- Выберите устройство --</option>
                {% for record in devices %}
                    <option value="{{ record.device.id }}">{{ record.device.dev_manufact }} {{ record.device.dev_model }} (#{{ record.device.inv_num }})</option>
                {% endfor %}
            </select>
       </div>
       <div class="form-group">
        <label for="app_desc">Описание:</label>
        <textarea id="app_desc"
                  name="app_desc"
                  rows="3"
                  required
                  class="form-input"></textarea>
       </div>
       <div class="form-actions">
            <button type="button"
                    class="cancel-btn"
                    onclick="closeModal()">Отмена</button>
            <button type="submit"
                    class="submit-btn">Сохранить</button>
       </div>
    </form>
  </div>
</div>
<div id="editDeviceModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeEditModal()">&times;</span>
        <h2>Заявка #<span id="num_z"></span></h2>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="edit_dev_mode" value="1">
            <input type="hidden" id="edit_id" name="edit_id">
            <div class="form-group">
                <label for="edit_description">Описание:</label>
                <textarea id="edit_description"
                  name="edit_description"
                  rows="3"
                  required
                  class="form-input"></textarea>
            </div>

            <div class="form-actions">
                <button type="button" class="cancel-btn" onclick="closeEditModal()">Отмена</button>
                <button type="submit" class="submit-btn">Сохранить</button>
            </div>
        </form>
    </div>
</div>
{% if applications %}
    <div id="deviceCardModal" class="modal">
    <div class="modal-content">

        <div id="deviceCardContent">
            <!-- Данные устройства будут вставляться через JavaScript -->
        </div>
    </div>
    </div>
    <table class="device-table">
        <tr>
            <th>ID</th>
            <th>Устройство (инв. номер)</th>
            <th>Дата создания</th>
            <th>Статус</th>
        </tr>
        {% for record in applications %}
        <tr onclick="openDeviceCard('{{ record.id }}', '{{ record.device }}','{{ record.device.inv_num }}','{{ record.device.inv_num }}','{{ record.created_at|date:"d-m-Y" }}','{{ record.description }}')">
            <td>{{ record.id }}</td>
            <td>{{ record.device }} (#{{ record.device.inv_num }})</td>
            <td>{{ record.created_at|date:"d-m-Y" }}</td>
            <td>{{ record.status }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>У вас пока нет назначенных устройств.</p>
{% endif %}
<script>
  function openModal() {
        document.getElementById("modal").style.display = "block";
    }
    function closeModal() {
        document.getElementById("modal").style.display = "none";
    }
    window.onclick = function(event) {
        const modal = document.getElementById("modal");
        if (event.target === modal) {
            closeModal();
        }
    };
    function openDeviceCard(id,device, inv_num, type, date_assigned,description) {
    const modal = document.getElementById("deviceCardModal");
    const content = document.getElementById("deviceCardContent");
    content.innerHTML = `
        <div class="device-card">
            <button class="close-btn" style="position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: #333;" onclick="closeDeviceCard()">×</button>
            <h3>Заявка #${id}</h3>
            <p><strong>Устройство:</strong> ${device}  (#${inv_num})</p>
            <p><strong>Дата создания:</strong> ${date_assigned}</p>
            <p ><strong>Описание:</strong> ${description}</p>
            <button onclick="closeDeviceCard();openEditModal('${id}','${device}','${date_assigned}','${description}')" style="background: #007bff; color: white; padding: 8px 16px; border: none; border-radius: 4px; cursor: pointer; font-size: 14px; transition: background-color 0.3s ease;">
            Редактировать
            </button>
  <button  class="cancel-btn">Удалить</button>
        </div>
    `;
    modal.style.display = "block";
}
    function closeDeviceCard() {
    document.getElementById("deviceCardModal").style.display = "none";
}
    window.onclick = function(event) {
    const modal = document.getElementById("deviceCardModal");
    if (event.target === modal) {
        closeDeviceCard();
    }
};
    function openEditModal(id,device,date_assigned,description) {
    document.getElementById("num_z").textContent = id;
    document.getElementById('edit_id').value = id;
    document.getElementById('edit_description').value = description;
    document.getElementById('editDeviceModal').style.display = 'block';
}
    function closeEditModal() {
    document.getElementById('editDeviceModal').style.display = 'none';
}
</script>
{% endblock %}